.Leads{
    width: 100%; 
}

.bg-image{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.bg-leads{
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 10;
    background: #fff;
}