.Leads {
  width: 100%;
}

.bg-leads-intro {
  width: 100%;
  height: 50vh;
  background: var(--grey-bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font-size: 4.5rem;
    font-weight: 400;
    margin-bottom: 20px;
  }

  p {
    font-size: 1.21rem;
    max-width: 50%;
    text-align: center;
  }
}

.bg-leads-inner {
  width: 85%;
  //height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 2em 0;
  //width: 85%;

  & > div > h2 {
    font-weight: 400;
    font-size: 2.7rem;
  }
}

.gdsc-lead {
  padding: 20px 0 30px;

  &-container {
    border-bottom: 1px solid #dadce0;
  }
}

.gdsc-lead {
  display: flex;
  justify-content: center;
}

.domain-leads {
  display: flex;
  justify-content: center;
  gap: 5%;
  row-gap: 4rem;
  flex-wrap: wrap;

  &-container {
    & > h2 {
      margin: 20px 0;
    }
  }
}
